@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    height: 100%;
    overscroll-behavior: none;
  }
  body {
    @apply font-rounded antialiased;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
  }
}

@layer utilities {
  .safe-top { padding-top: env(safe-area-inset-top); }
  .safe-bottom { padding-bottom: env(safe-area-inset-bottom); }
}
